@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* reset css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  background-color: #1c5663;
}

/* Newsletter */
.wrapper {
  position: absolute;
  background-color: #fff;
  max-height: 450px;
  max-width: 460px;
  border-radius: 12px;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}

.wrapper .top {
  height: 140px;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #3393a8;
  border-radius: 12px 12px 0 0;
  position: relative;
}

.wrapper .top::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: #3393a8;
  bottom: -10px;
  transform: rotate(45deg);
}

.wrapper .top i {
  margin-top: 30px;
  font-size: 70px;
  color: #fff;
  text-align: center;
}

.wrapper .bottom {
  padding: 30px;
}

.wrapper .bottom .info {
  font-size: 20px;
  font-weight: 500;
}

/* Inputs */
.wrapper .bottom .input-box {
  font-size: 20px;
  height: 45px;
  margin: 20px 0 20px 0;
}

.wrapper .bottom .input-box input {
  width: 100%;
  height: 100%;
  font-size: 18px;
  border-radius: 25px;
  outline: none;
  transition: all 0.4s ease;
}

.wrapper .bottom input[type="text"] {
  padding-left: 20px;
  border: 2px solid #ccc;
}

.wrapper .bottom input[type="text"]:focus,
.wrapper .bottom input[type="text"]:valid {
  border-color: #257385;
}

.wrapper .bottom input[type="submit"] {
  border: none;
  background-color: #3393a8;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
}

.wrapper .bottom input[type="submit"]:hover {
  background-color: #236270;
}

.wrapper .bottom .footer {
  font-size: 14px;
  margin: 20px;
  margin-bottom: 20px;
}
